@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root { 
    height: 100%; 
  }
  body { 
    background-color: #f7f9fc; 
  }
}

@layer components {
  .sidebar { 
    min-height: 100vh; 
  }
  .sidebar .nav-link.active { 
    background-color: #0d6efd; 
    color: white; 
  }
}